//Pixel size definitions
$s-screen-xsmall: 350px; // Modern Phones
$s-screen-small: 750px; // Modern Large Mobiles / Small Tablets
$s-screen-medium: 1100px; // Large Tablet / Small Old Laptop
$s-screen-large: 1350px; // Large Tablet Landscape / Average Laptop
$s-screen-xlarge: 1650px; // Large Laptop / Average - Large Desktop
$s-screen-xxlarge: 2000px; // 4K Deskop

//Size definitions
$s-xsmall: 'xsmall';
$s-small: 'small';
$s-medium: 'medium';
$s-large: 'large';
$s-xlarge: 'xlarge';
$s-xxlarge: 'xxlarge';

//Groups
$s-xsmall-up: 'xsmall-up';
$s-small-up: 'small-up';
$s-medium-up: 'medium-up';
$s-large-up: 'large-up';
$s-xlarge-up: 'xlarge-up';
$s-xxlarge-up: 'xxlarge-up';

$s-medium-down: 'medium-down';